@model WebApplication1.Models.ViewModels.CreateCommentViewModel



<div class="col-md-12">
    <div class="col-md-6">
        <form asp-action="CreateComment" method="post" style="padding: 30px" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Body" class="control-label">Add Comment</label>
                <textarea asp-for="Body" class="form-control" id="exampleFormControlTextarea3" rows="4"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div id="reviewStars-input">
                    <input value="5" id="star-4" type="radio" name="Rating" />
                    <label title="gorgeous" for="star-4"></label>

                    <input value="4" id="star-3" type="radio" name="Rating" />
                    <label title="good" for="star-3"></label>

                    <input value="3" id="star-2" type="radio" name="Rating" />
                    <label title="regular" for="star-2"></label>

                    <input value="2" id="star-1" type="radio" name="Rating" />
                    <label title="poor" for="star-1"></label>

                    <input value="1" id="star-0" type="radio" name="Rating" />
                    <label title="bad" for="star-0"></label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="File">Add Photo</label>
                <input asp-for="File" class="form-control" />
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <input type="hidden" asp-for="UserId" value="@ViewData["userId"]" />
            <input type="hidden" asp-for="CompanyId" value="@ViewData["companyId"]" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
        <h4 style="font-weight:bold">Comments</h4>
    </div>
</div>


<style> 
/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {
  
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  
  position: relative;
  float: left;
}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  
  width: 43px;
  height: 40px;
  
  position: absolute;
  top: 0;
  z-index: 0;
}

#reviewStars-input input:checked ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}

#reviewStars-input label {
  background-position: 0 0;
  height: 40px;
  width: 43px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  
  position: relative;
  z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px;
}

#reviewStars-input #star-0 {
  left: 0px;
}
#reviewStars-input #star-1 {
  left: 53px;
}
#reviewStars-input #star-2 {
  left: 106px;
}
#reviewStars-input #star-3 {
  left: 159px;
}
#reviewStars-input #star-4 {
  left: 212px;
}
#reviewStars-input #star-5 {
  left: 265px;
}    
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
